{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS  -->
        <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">
        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

        <!-- Map-->
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet-draw/dist/leaflet.draw.css" />

    </head>
<body>
    <header></header>
        <nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-success">
            <a href="/home" class="navbar-brand">
                <img src="{% static 'frontend/img/app_logo.png' %}" alt="Home" height="60">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a aria-current="page" id="menu-home" class="nav-link" href="/home" style="font-size: 1.5rem;">Home</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-auto">
                <div class="input-group mb-3">
                    <span class="input-group-text">Location:</span>
                    <input type="text" id="actualLocation" class="form-control" placeholder="Current Location">
                </div>
            </div>
            <div class="col-auto">
                <div class="input-group mb-3">
                    <span class="input-group-text">Type:</span>
                    <select id="characteristics" class="form-select">
                        <option value="">Select...</option>
                        <option value="rainfall">Rainfall</option>
                        <option value="forest">Forest</option>
                    </select>
                </div>
            </div>
            <div class="col-auto">
                <div class="input-group mb-3">
                    <span class="input-group-text">Date:</span>
                    <input type="date" id="date" class="form-control">
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-success">Query</button>
            </div>
        </div>
    </div>


    <div class="container-fluid mt-3">
        <div id="map"></div>
    </div>

    <footer>
        <!-- Your Footer Here -->
    </footer>
    
    <!-- JS for map -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <!-- Add Leaflet Draw JS -->
    <script src="https://unpkg.com/leaflet-draw/dist/leaflet.draw.js"></script>
    <!-- Include your map.js file -->
    <script src="{% static 'js/map.js' %}"></script>

     <!-- Bootstrap JS and dependencies (jQuery and Popper.js) -->
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--Import JS functions -->
    <script src="{% static 'js/location.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            getUserLocation();
            
            // Handle form submission
            document.getElementById('locationForm').addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent default form submission
                const location = document.getElementById('actualLocation').value;
                const characteristics = document.getElementById('characteristics').value;
                
                // Handle the query logic here
                console.log(`Querying for Location: ${location}, Characteristics: ${characteristics}`);
            });
        });
    </script>
</body>
</html>