body {
    
    background-image: url('../img/agri.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.input-group-text {
    background-color: #6c757d;
    color: white;
}

.form-control {
    border-radius: 0.5rem;
    border: 1px solid #6c757d;
}

.btn-success {
    background-color: #28a745;
    border: none;
    transition: background-color 0.3s;
}

.btn-success:hover {
    background-color: #218838;
}

.input-group {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.container {
    background-color: #5dea919e;
    padding: 20px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    padding: 1rem;
}

.card {
    height: 250px;
    overflow-y: auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px; 
}

.image-card {
    height: 430px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px; 
}

.card-header {
    background-color: #fff;
}


.card-header .btn-link {
    color: black;
    font-weight: bold;
}

.card-header .btn-link:hover {
    color: #6c757d;
}

.collapse {
    transition: background-color 0.3s ease;
}

.collapse.show {
    background-color: #f8f9fa;
}

.card-body {
    border-top: 1px solid #007bff;
    background-color: #fff;
}

html, body {
    height: 100%;
    margin: 10;
}

body {
    overflow: auto;
}

.container-fluid {
    height: calc(100vh - 100px);
    padding: 10;
}

#map {
    width: 100%;
    height: 80%;
}


h1.display-4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: bolder;
    color: #3B9C4D;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
}

h1.mb-4 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 1.5rem;
}

.lead {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    margin-top: 10px;
    padding: 10px 20px;
}



footer {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #333;
    color: white;
}

.hero-section {
    background-image: url('{% static "frontend/img/agri.jpg" %}');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.header-links {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
}

.header-links-d {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    justify-content: flex-end;

}

.header-text {
    
    left: 0;
}

.header-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1rem;
    transition: color 0.3s;
}

.header-links-d a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1rem;
    transition: color 0.3s;
}

.header-links a:hover {
    color: #28a745;
}

.header-links-d a:hover {
    color: #28a745;
}

